---
import BaseLayout from '../../layouts/BaseLayout.astro';
import HeaderComponent from '../../components/Header.astro';
import HeroComponent from '../../components/Hero.astro';
import AboutComponent from '../../components/About.astro';
import ProductsComponent from '../../components/Products.astro';
import BenefitsComponent from '../../components/Benefits.astro';
import BranchesComponent from '../../components/Branches.astro';
import ContactComponent from '../../components/Contact.astro';
import FooterComponent from '../../components/Footer.astro';
import { getTranslation, getCurrentLocale } from '../../utils/translations';
import PartnersComponent from '../../components/Partners.astro';

const locale = getCurrentLocale(Astro.url);
const t = getTranslation(locale);
---

<BaseLayout>
  <HeaderComponent currentPage="home" />

  <main>
    <HeroComponent />
    <AboutComponent />
    <ProductsComponent />
    <BenefitsComponent />
    <BranchesComponent />
    <ContactComponent />
    <PartnersComponent />
  </main>

  <FooterComponent />
</BaseLayout>