---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Univent — Чистый воздух для всех</title>
  <meta name="description" content="Univent — №1 в вентиляции в Узбекистане. 1500+ товаров, 15+ точек продаж. Чистый воздух для всех."/>
</head>
<body>
  <slot />
</body>
</html>